.banner-head{
	background: url(../img/banner-head.jpg);
	text-align: center;
}
.event{
	background: url(../img/dccr-fun.png);
	width: 100%;
	height: 100%;
	padding: 100%
}
ul{
	background-color: #2B2B2B;
	height: 100px;
	width: 100%;
	margin: 0%;
	list-style: none;
}
ul a{
	color: #fff;
	text-decoration: none;
	font-size: 30px;
}

ul li{
	padding: 0 5rem 0.5rem;
	display: inline-block;
	float: left;
	margin: 2%;
}

.banner-head h3{
	color: #fff;
}

#content{
	margin-top: 8%;
}
.col-md-6 p{
    width: 50%;
}

.col-md-8 {
	background-color: #F0F0F0;
}
.col-md-8{
	float: right;
}
.col-md-8 img{	
	margin: 6% 0% 6% 0%;
}

#btn-conoce-mas{
	border-color: white;
	border-radius: 4%;
	border: solid: #fff;
	margin: 2%;
	background-color: transparent;
	padding: 1%;
}

.banner-head h1{
	color: #fff;
}

#content{
	text-align: center;
}



.logo{
  float: left;
  height: 100px;
  padding: 0% 2%;
  font-size: 18px;
  line-height: 20px;
  background-color: #1B8ABE;
  position: center;
}